github "zssq/ZSAppConfig"
github "onevcat/Kingfisher"
github "Alamofire/Alamofire"
github "jdg/MBProgressHUD" ~> 1.1.0
github "stephencelis/SQLite.swift" ~> 0.12.0
github "ibireme/YYCategories"
github "pkluz/PKHUD" ~> 5.0

